<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">BIBLEOEXP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/Books/BookList}">Book Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/Categories/CategoryList}">Category Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/users/userList}">User Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/statistics}">Statistics</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-3">
    <h1>Book List</h1>
    <a th:href="@{'/api/Books/add'}" class="btn btn-success">Add Book</a>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ISBN</th>
            <th>title</th>
            <th>author</th>
            <th>nbr_copies</th>
            <th>avb_copies</th>
            <th>Date of publication</th>
            <th>Category</th>
            <th>Actions</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="Book: ${BookList}">
            <td th:text="${Book.ISBN}"></td>
            <td th:text="${Book.title}"></td>
            <td th:text="${Book.author}"></td>
            <td th:text="${Book.nbr_copies}"></td>
            <td th:text="${Book.avb_copies}"></td>
            <td th:text="${Book.date_pub}"></td>
            <td th:text="${Book.category.categoryName}"></td>
            <td>
                <a th:href="@{'/api/Books/edit/' + ${Book.ISBN}}" class="btn btn-primary">Update</a>
                <a th:href="@{'/api/Books/delete/' + ${Book.ISBN}}" class="btn btn-danger ">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
