<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservation List</title>
</head>
<body>

<h2>Reservation List</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Book Title</th>
        <th>User Name</th>
        <th>Reservation Date</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of reservations and display information for each reservation -->
    <tr th:each="reservation : ${reservationList}">
        <td th:text="${reservation.id}"></td>
        <td th:text="${reservation.book.title}"></td>
        <td th:text="${reservation.user.username}"></td>
        <td th:text="${#dates.format(reservation.reservationDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
