<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>

<h2>User List</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name </th>
        <th> Email</th>
        <th>Mobile</th>
        <!-- Add other user attributes as needed -->
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of users -->
    <tr th:each="user:${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.mobile}"></td>
        <!-- Add other user attributes as needed -->
    </tr>
    </tbody>
</table>

</body>
</html>
